<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {%if user.is_authenticated%}
                    <li><a href= "{% url 'logout'%}">Logout</a></li>
                {%else%}
                    <li><a href= "{% url 'signup'%}">Sign Up</a></li>
                    <li><a href= "{% url 'login'%}">Login</a></li>
                {%endif%}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Sign up!</h1>
            <form method="post">
            {% csrf_token %}
            {{ form_signup.as_p }}
            <button>Signup</button>
            </form>
        </div>
    </main>
</body>
</html>
